---
#### Defensive Programming
# https://github.com/openshift/openshift-ansible/blob/master/docs/best_practices_guide.adoc

- name: "Set Default Cluster Facts"
  set_fact:
    openshift_persistent_volumes_def: ''
    openshift_resources_present: False
    openshift_cluster: "{{ openshift_cluster_item }}" # http://docs.ansible.com/ansible/playbooks_loops.html#loops-and-includes-in-2-0
    openshift_login_url: ''
    auth_token: False
    auth_user_pass: False

- name: "Set Variable openshift_persistent_volumes_def Fact"
  set_fact:
    openshift_persistent_volumes_def: "{{ openshift_cluster.persistent_volumes }}"
  when:
  - openshift_cluster.persistent_volumes is defined
  - openshift_cluster.persistent_volumes|trim != ""
  - openshift_cluster.persistent_volumes|length > 0

- name: "Set OpenShift Login URL with openshift_url"
  set_fact:
    openshift_login_url: "{{ openshift_url }}"
  when: openshift_url is defined and openshift_url != ''

- name: "Set OpenShift Login URL with openshift_cluster.openshift_host_env"
  set_fact:
    openshift_login_url: "{{ openshift_cluster.openshift_host_env }}"
  when: openshift_login_url == '' and openshift_cluster.openshift_host_env is defined and openshift_cluster.openshift_host_env != ''

- name: "Set Variable openshift_resources_present Facts"
  set_fact:
    openshift_resources_present: True
  when:
  - openshift_cluster.openshift_resources is defined
  - openshift_cluster.openshift_resources|trim != ""
  - openshift_cluster.openshift_resources|length > 0

- name: "Fail for Missing OpenShift Host Env"
  fail: msg="This role requires openshift_cluster.openshift_host_env (in the API document) or openshift_url (via CLI or host vars) to be set and non empty"
  when: 
  - openshift_resources_present|bool == True
  - openshift_login_url == ""

- include: ../../openshift-login

- include: create_persistent_volumes.yml
  with_items: '{{ openshift_persistent_volumes_def }}'
  loop_control:
    loop_var: persistent_volumes_item
  static: no
  when: openshift_persistent_volumes_def|trim != ''

- include: create_openshift_resources.yml
  when: openshift_resources_present|bool == True

- name: "Alert User No OpenShift Resources Were Declared"
  debug:
    msg: "There were no openshift_resources set for your openshift_cluster. This is the key data for this role, so you may want to check that you do not have typo in the request."
  when: openshift_resources_present|bool == False

