apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ pvc.name }}
spec:
  accessModes:
{% for mode in pvc.access_modes %}
    - {{ mode }}
{% endfor %}
  resources:
    requests:
      storage: {{ pvc.storage }}Gi
{% if pvc.selector is defined and pvc.selector != "" %}
  selector:
    matchLabels:
{% for label in pvc.selector.match_labels %}
      {{ label }}: {{ pvc.selector.match_labels[label] }}
{% endfor %}
{% endif %}
